# Question 1

In [1]:
r='rajku@google.com'
result=r[r.find('@',0,len(r))+1:r.find('.',0,len(r))]
print('company name is:',result)

company name is: google

# Question 2

In [1]:
str1=input('Enter comma separated words')
str2=str1.split(',')
print(sorted(str2))
#Frog,Dog,Ball,Zebra,Cat,Apple,Elephant

Enter comma separated wordsFrog,Dog,Ball,Zebra,Cat,Apple,Elephant
['Apple', 'Ball', 'Cat', 'Dog', 'Elephant', 'Frog', 'Zebra']

# Question 3

In [2]:
fruits={'apple','grapes','banana'}
vegetables={'onion','carrot','beans'}
fruits.add('orange')
print(fruits)
fruits.update(vegetables)
print(fruits)
fruits.remove('onion')
print(fruits)

{'banana', 'orange', 'apple', 'grapes'}
{'banana', 'onion', 'apple', 'carrot', 'orange', 'beans', 'grapes'}
{'banana', 'apple', 'carrot', 'orange', 'beans', 'grapes'}

# Question 4

In [21]:
num=(1,2,4,6,7,9,15,13,17)
def missing_num(a):
    return [x for x in range(min(a),max(a)) if x not in a]
print(missing_num(num))

[3, 5, 8, 10, 11, 12, 14, 16]

# Question 5

In [22]:
list1=[12, 24, 35, 24, 88, 120, 155, 88, 120, 155]
def unique(a):
    u_num=[]
    [u_num.append(x) for x in a if x not in u_num]
    print(u_num)
unique(list1)

[12, 24, 35, 88, 120, 155]